* {
  box-sizing: border-box;
}

p {
  text-decoration: none;
}

body {
  padding: 10px;
  font-family: "Playfair Display";
  background: #776483;
}

/* Header */
.header {
  padding: 20px;
  margin: 10px;
  text-align: center;
  border: 1px solid #292643;
  background: linear-gradient(90deg, #e99e75, #bbaab8);
  border-radius: 3rem;
}

/* Header Title */
.header h1 {
  font-size: 50px;
  font-weight: 900;
  color: #292643;
  font-style: italic;
}

/* Header paragraph */
.header p {
  font-size: 18px;
  font-weight: 400;
  color: #292643;
  margin: 20px 10px;
}

.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  flex-wrap: wrap;
}

.blog-box {
  width: 350px;
  border: 1px solid #292643;
  border-radius: 3rem;
  margin: 25px 55px;
  background: linear-gradient(90deg, #e99e75, #bbaab8);
}

.blog-img img {
  width: 100%;
  border-radius: 3rem;
  object-fit: cover;
  object-position: center;
}

.blog-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.blog-text .blog-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #44426e;
  text-decoration: none;
}

.blog-text p {
  color: #292643;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

.blog-text a {
  color: #44426e;
}

.blog-text a:hover {
  color: #776483;
  transition: all ease 0.3s;
}
