* {
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display";
  padding: 10px;
  background: #776483;
}

/* Header */
.header {
  padding: 20px;
  margin: 10px;
  text-align: center;
  background: linear-gradient(90deg, #e99e75, #bbaab8);
  border-radius: 3rem;
}

/* Header Title */
.header h1 {
  font-size: 50px;
  font-weight: 900;
  color: #292643;
  font-style: italic;
}

.header p {
  font-size: 18px;
  font-weight: 400;
  color: #292643;
  margin: 20px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  border-radius: 2rem;
  padding: 5px;
  background-color: #44426e;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #e99e75;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #bbaab8;
  color: #292643;
  border-radius: 3rem;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 30%;
  background-color: #776483;
  padding-left: 20px;
}

/* Add a card effect for articles */
.card {
  background: linear-gradient(90deg, #e99e75, #bbaab8);
  padding: 20px;
  margin-top: 20px;
  color: #292643;
  border-radius: 3rem;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: linear-gradient(90deg, #e99e75, #bbaab8);
  margin: 20px;
  color: #292643;
  border-radius: 3rem;
}

#blocks,
#facts {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

#blocks td,
#blocks th,
#facts,
#facts {
  border: none;
  padding: 8px;
}

#blocks th,
#facts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #44426e;
  color: #e99e75;
  border-radius: 3rem;
}

#icon {
  outline: none;
  color: #292643;
  margin: 10px;
}

icon:hover {
  background-color: #e99e75;
}

img {
  width: 45%;
  margin: 20px;
  border: 1px solid #776483;
  border-radius: 3rem;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .leftcolumn .card img {
    display: none;
  }
}

@media (max-width: 480px) {
  .leftcolumn .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leftcolumn .card .img {
    margin-top: 10px;
  }
}
